/* Run Buddy CSS Sheet */

/* Remove Brower CSS */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* HEADER */
header {
	background-color: #39a6b2;
	padding: 20px 35px;
}

header h1 {
	color: #fce138;
	display: inline;
	font-weight: bold;
	font-size: 36px;
	margin: 0;
}

header a {
	color: #fce138;
	text-decoration: none;
}

	/* Nav */
		header nav {
			float: right;
			margin: 7px;
		}

		header nav ul li {
			display: inline;
		}

		header nav ul li a {
			font-weight: lighter;
			font-size: 22px;
			margin: 0 30px;
		}

/* BODY */
body {
	color: #39a6b2;
	font-family: Helvetica, Arial, sans-serif;
}

section {
	padding: 60px;
}

	/* Hero Section */
		.hero {
			background-image: url("../images/hero-bg.jpg");
			background-position: center;
			background-size: cover;
			height: 600px;
			position: relative;
		}

		/* Hero Headings */
			.hero h3 {
				font-size: 24px;
				margin: 0;
			}

		/* Hero Form */
			.hero-form {
				background-color: #fce138;
				border-color: #024e76;
				border-style: solid;
				border-width: 3px;
				bottom: 120px;
				color: #024e76;
				padding: 20px;
				position: absolute;
				right: 140px;
				width: 500px;
			}

			.hero-form p {
				margin: 5px 0 15px 0;
			}

			.hero-form label {
				margin: 0px;
			}

			.hero-form-block {
				display: block;
			}

			.form-input {
				border: 1px solid #024e76;
				color: #024e76;
				display: block;
				font-size: 16px;
				margin-bottom: 15px;
				padding: 7px 15px;
				width: 100%;
			}

			.hero-form button {
				background-color: #024e76;
				border: none;
				color: #fce138;
				font-size: 16px;
				padding: 10px 20px;
			}

	/* Intro */
		.intro {
			text-align: center;
		}

		/* Intro Headings & Paragraph */
			.intro h2 {
				border-bottom: 3px solid;
				border-color: #fce138;
				color: #024e76;
				display: inline-block;
				font-size: 55px;
				margin-bottom: 35px;
				padding: 0 100px 20px 100px;
			}

			.intro p {
				color: #39a6b2;
				font-size: 20px;
				line-height: 1.7;
				margin: 0 auto;
				width: 80%;
			}

/* Footer */
footer {
	background-color: #fce138;
	padding: 40px 35px;
	width: 100%;
}

footer a {
	color: #024e76;
}

footer h2 {
	color: #024e76;
	display: inline;
	font-size: 30px;
	margin: 0;
}

footer div {
	float: right;
	line-height: 1.5;
	text-align: right;
}